@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 5px;

$main-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);
